

<div class="navigation">
 
  <mat-toolbar color="primary">
    <button mat-button (click)="scroll('topdiv')">{{texto.home[language]}}</button>
    <button mat-button (click)="scroll('projects')">{{texto.projects[language]}}</button>
    <button mat-button (click)="scroll('experience')">{{texto.exp[language]}}</button>
    <button mat-button (click)="scroll('free')">{{texto.free[language]}}</button>
    <button mat-button (click)="scroll('cv')">CV</button>
    <button mat-button (click)="scroll('contact')">{{texto.contact[language]}}</button>
    <a mat-button href="https://www.linkedin.com/in/angelcandas/">LinkedIn</a>
    <span class="example-fill-remaining-space"></span>
    <button mat-button (click)="lang('ESP')">Español</button>
    <span>/</span>
    <button mat-button (click)="lang('ENG')">Engish</button>
  </mat-toolbar>
</div>


<div class="content">
<router-outlet></router-outlet>
</div>