<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
	<div id="topdiv"></div>
	<div class="home-head" id="head">
		<div class="image-box">
			<img src="./assets/images/curriculum_foto.jpg">
		</div>
		<div class="text-box">
			<h2>Telecommunications and Mechatronic Engineer</h2>
			<p>{{description}}</p>	
		</div>
	</div>

	<div class="text-box projects" id="projects">
		<h1>Projects</h1>
		<div class="project">
			<h2>React NodeJS PostgreSQL Heroku</h2>
			<h3>Iotacs: IoT plataform</h3>
			<div class="image">
				<img src="./assets/images/iotacs.png">
			</div>
			<p class="text"> Iotacs its an IoT platform that allow bi-directional communication between electronic devices like sensors and actuators using MQTT, a low bandwith consumption protocol.
			</p>
			<mat-chip-list class="footer">
				<mat-chip>React</mat-chip>
				<mat-chip>NodeJS</mat-chip>
				<mat-chip>PostgreSQL</mat-chip>
				<mat-chip>IoT</mat-chip>
				<mat-chip>MQTT</mat-chip>
				<mat-chip>Heroku</mat-chip>
			</mat-chip-list>

			<div class="buttons">
				<a mat-raised-button href="https://iotacs.herokuapp.com/" color="primary">Visit Site<i class="fab fa-github"></i></a>
				<a mat-raised-button color="primary" href="https://github.com/angelcandas/iotacs">FrontEnd<i class="fab fa-github"></i></a>
				<a mat-raised-button color="primary" href="https://github.com/angelcandas/iotacsback">BackEnd<i class="fab fa-github"></i></a>
			</div>
		</div>

		<div class="project">
			<h2>MongoDB Express Angular6 NodeJS</h2>
			<h3>Sobrify: Spotify like app</h3>
			<div class="image">
				<img src="./assets/images/sobrify.png">
			</div>
			<p class="text">Sobrify its and open project, an audio streaming plataform. It allows an admin role to upload and manage new content and user roles to just listen and enjoy. It takes advantage of AWS S3 for static storage of the music files.
			</p>
			<mat-chip-list class="footer">
				<mat-chip>Angular 6</mat-chip>
				<mat-chip>MongoDB</mat-chip>
				<mat-chip>AWS S3</mat-chip>
				<mat-chip>Express</mat-chip>
				<mat-chip>Typescript</mat-chip>
				<mat-chip>GitHubPages</mat-chip>
			</mat-chip-list>
			<div class="buttons">
				<a mat-raised-button href="https://angelcandas.github.io/sobrify/" color="primary">Visit Site<i class="fab fa-github"></i></a>
				<a mat-raised-button href="https://github.com/angelcandas/sobrify" color="primary">FrontEnd<i class="fab fa-github"></i></a>
				<a mat-raised-button href="https://github.com/angelcandas/sobrify-back" color="primary">BackEnd<i class="fab fa-github"></i></a>				
			</div>
		</div>

		<div class="project">
			<h2>Dime algo</h2>
			<h3>Short film - 2014</h3>
			<div class="image">
				<iframe width="100%" height="300px" src="https://www.youtube.com/embed/alfP4c2JixA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<p class="text">Short film produced by HRK Studios and participant in the 19th Gijon film festival</p>
			<mat-chip-list>
				<mat-chip>Cubase</mat-chip>
				<mat-chip>Adobe Premiere</mat-chip>
				<mat-chip>Adobe Photoshop</mat-chip>
				<mat-chip>Recording</mat-chip>
				<mat-chip>Audio Engineering</mat-chip>
			</mat-chip-list>
		</div>

	</div>


	<div class="text-box projects" id="experience">
		<h1>Work Experience</h1>
		<div class="projects">
			<div class="project">
				<h2>Otus Robotic Engineering (Port terminal IoT)</h2>
				<h3>Back end developer and Telecommunication engineer</h3>
				<div class="image">
					<img src="./assets/images/03.jpg">
				</div>
				<p class="text">Engineer and developer in a 3 people team to develope and implant an IoT system in docks. I was involved in the project since it started, so my roles there were almost everything. System design, PCB design, Wifi network design and installation, embedded electronics programming, and backend developement in Java</p>
				<mat-chip-list class="footer">
					<mat-chip>PCB design</mat-chip>
					<mat-chip>Backend</mat-chip>
					<mat-chip>Java</mat-chip>
					<mat-chip>Python</mat-chip>
					<mat-chip>Network designer</mat-chip>
					<mat-chip>IoT</mat-chip>
					<mat-chip>Altium</mat-chip>
					<mat-chip>Autocad</mat-chip>
				</mat-chip-list>
			</div>

			<div class="project">
				<h2>Skiconnect (RFID location services)</h2>
				<h3>Telecommunication</h3>
				<div class="image">
					<img src="./assets/images/rfid.png">
				</div>
				<p class="text">Skiconnect is a startup focused on RFID technologies, my role there were to research between different RFID technologies and design an application for customer location inside a resort.</p>
				<mat-chip-list class="footer">
					<mat-chip>RFID</mat-chip>
					<mat-chip>Antenna</mat-chip>
					<mat-chip>Autocad</mat-chip>
				</mat-chip-list>
			</div>
			<div class="project">
				<h2>ArcelorMittal (Low consumption communication devices)</h2>
				<h3>Telecommunication and electronics</h3>
				<div class="image">
					<img src="./assets/images/ArcelorMittal.png" >
				</div>
				<p class="text">ArcelorMittal is the biggest steel company in the global market. I did there my practise as electronics engineer. My labour was to compare between different low consumption Zigbee modules.</p>
				<mat-chip-list class="footer">
					<mat-chip>Zigbee</mat-chip>
					<mat-chip>Embedded systems</mat-chip>
					<mat-chip>PCB design</mat-chip>
				</mat-chip-list>
			</div>
			<div class="project">
				<h2>HRK Studios (Audiovisual producer)</h2>
				<h3>Sound engineer</h3>
				<div class="image">
					<img src="./assets/images/presentacion.jpg" >
				</div>
				<p class="text">In HRK Studios we started.</p>
				<mat-chip-list class="footer">
					<mat-chip>Cubase</mat-chip>
					<mat-chip>Adobe Premiere</mat-chip>
					<mat-chip>Adobe Photoshop</mat-chip>
					<mat-chip>Event management</mat-chip>
					<mat-chip>Music production</mat-chip>
				</mat-chip-list>
			</div>
		</div>
	</div>

	<div class="text-box" id="free">

	</div>

	<div class="text-box" id="cv">
		<h1>CV</h1>
		<div class="home-cards">
			<mat-card  class="unselectable">
				<a href="https://s3.eu-west-2.amazonaws.com/iotacsbucket/CV_Esp.pdf" download="w3logo.pdf">
					<mat-card-title>Curriculum en Español <i class="fas fa-download"></i></mat-card-title>
					<mat-card-subtitle>descargar</mat-card-subtitle>
				</a>
			</mat-card>
			<mat-card class="unselectable">
				<a href="https://s3.eu-west-2.amazonaws.com/iotacsbucket/CV_Eng.pdf" download="w3logo.pdf">
					<mat-card-title>English CV <i class="fas fa-download"></i></mat-card-title>
					<mat-card-subtitle>download</mat-card-subtitle>
				</a>
			</mat-card>
		</div>
	</div>

	<div class="text-box" id="contact">
		<h1>Contact</h1>
		<p>Tlf: (+34) 669 677 057</p>
		<p>Email: <a href="mailto:angelcs790@gmail.com">angelcs790@gmail.com</a></p>
		<p>LinkedIn: <a href="https://linkedin.com/in/angelcandas/">https://linkedin.com/in/angelcandas/</a></p>
	</div>
